이 게시글은 초급자 분들에게 제출 절차만을 설명드리기 위한 코드공유 글입니다.

창의적인 전처리와 EDA를 통해 효율적인 알고리즘을 만들어 주세요

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
import lightgbm as lgbm
from sklearn.metrics import confusion_matrix, accuracy_score

데이터를 불러옵니다

In [4]:
#경로 설정을 꼭 신경써주세요!!
train=pd.read_csv('/train.csv', index_col=0) #인덱스 col=0도 check!
test=pd.read_csv('/test_x.csv', index_col=0)
submission=pd.read_csv('/sample_submission.csv', index_col=0)

In [5]:
train

,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,QeE,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
index,,,,,,,,,,,,,,,,,,,,,
0,3.0,363,4.0,1370,5.0,997,1.0,1024,2.0,1577,...,0,1,0,1,1,0,1,0,1,1
1,5.0,647,5.0,1313,3.0,3387,5.0,2969,1.0,4320,...,1,1,0,1,1,0,1,0,1,1
2,4.0,1623,1.0,1480,1.0,1021,4.0,3374,5.0,1333,...,1,1,0,1,1,1,1,0,1,1
3,3.0,504,3.0,2311,4.0,992,3.0,3245,1.0,357,...,0,0,0,0,1,0,1,0,1,1
4,1.0,927,1.0,707,5.0,556,2.0,1062,1.0,1014,...,1,1,1,1,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45527,2.0,1050,5.0,619,4.0,328,1.0,285,1.0,602,...,1,1,0,1,1,1,1,0,1,1
45528,2.0,581,3.0,1353,4.0,1164,1.0,798,3.0,1680,...,1,1,0,1,1,1,1,0,1,1
45529,4.0,593,1.0,857,1.0,1047,4.0,1515,5.0,1690,...,1,1,0,1,1,0,1,0,1,1
45530,1.0,747,3.0,1331,4.0,892,2.0,1281,1.0,1328,...,1,1,0,1,1,1,1,0,1,1
45531,3.0,496,5.0,1827,5.0,754,3.0,1117,1.0,432,...,1,1,0,1,1,0,1,0,1,1

In [6]:
test

,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,QeE,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
index,,,,,,,,,,,,,,,,,,,,,
0,3.0,736,2.0,2941,3.0,4621,1.0,4857,2.0,2550,...,0,1,0,0,1,0,1,0,1,1
1,3.0,514,2.0,1952,3.0,1552,3.0,821,4.0,1150,...,0,0,0,0,0,0,0,0,0,0
2,3.0,500,2.0,2507,4.0,480,2.0,614,2.0,1326,...,0,1,0,1,1,0,1,0,1,1
3,1.0,669,1.0,1050,5.0,1435,2.0,2252,5.0,2533,...,1,1,1,1,1,1,1,1,1,1
4,2.0,499,1.0,1243,5.0,845,2.0,1666,2.0,925,...,1,1,0,1,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11378,5.0,427,5.0,1066,5.0,588,1.0,560,2.0,1110,...,1,1,0,1,1,0,1,0,1,1
11379,1.0,314,5.0,554,5.0,230,1.0,956,2.0,1173,...,1,1,1,1,1,1,1,1,1,1
11380,1.0,627,2.0,799,1.0,739,2.0,1123,1.0,829,...,1,1,0,1,1,0,1,0,1,1
11381,2.0,539,1.0,2090,2.0,4642,1.0,673,2.0,1185,...,1,0,0,1,1,0,1,1,1,0
11382,2.0,541,4.0,900,5.0,691,2.0,1951,1.0,2317,...,0,0,1,0,1,0,0,1,0,0

타겟인 'voted'변수를 train_y로 만들어줍니다

In [7]:
train_x = train.drop('voted', axis = 1)
train_y = train['voted']

빠른 제출 절차를 확인하기 위해 '문자열' 변수들을 '이산형'으로 변환해줍니다.

그렇지만 이렇게 해서는 좋은 점수를 얻기 힘들 것입니다.

In [8]:
#age_group, gender, race, religion
train_x['age_group']=1
train_x['gender']=1
train_x['race']=1
train_x['religion']=1

test['age_group']=1
test['gender']=1
test['race']=1
test['religion']=1

모델을 돌려줍니다

In [9]:
# lgbm으로 분석
model = lgbm.LGBMClassifier(n_estimators=500)
model.fit(train_x, train_y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=500, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

예측치를 구해주고

In [10]:
pred_y = model.predict(test)

In [11]:
pred_y

array([2, 2, 2, ..., 1, 1, 1], dtype=int64)

In [12]:
submission['voted']=pred_y

In [13]:
submission

       voted
index
0          2
1          2
2          2
3          1
4          2
...      ...
11378      1
11379      2
11380      1
11381      1
11382      1

[11383 rows x 1 columns]

제출!!

In [41]:
submission.to_csv('/sample_submission.csv')